<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:squerity="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
       设定springSquerity 放行的资源
    -->
    <squerity:http pattern="/login.html" security="none"/>
    <squerity:http pattern="/img/**" security="none"/>
    <squerity:http pattern="/js/**" security="none"/>
    <squerity:http pattern="/plugins/**" security="none"/>

    <!--
      配置登陆信息拦截规则
    -->
    <!--  username-parameter="username" password-parameter=""-->
    <squerity:http auto-config="true" use-expressions="false">

        <!--配置拦截地址-->
        <squerity:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!--配置登陆信息-->
        <squerity:form-login login-page="/login.html"
                             default-target-url="/admin/index.html"
                             always-use-default-target="true"
                             authentication-failure-url="/login.html"/>

        <!--配置登出信息-->
        <squerity:logout />

    </squerity:http>

    <!--配置认证管理器-->
    <squerity:authentication-manager>
        <squerity:authentication-provider>
            <squerity:user-service>
                <squerity:user name="jack" password="noop{123456}" authorities="ROLE_ADMIN"/>
            </squerity:user-service>
        </squerity:authentication-provider>
    </squerity:authentication-manager>

    <!--关闭跨域请求-->
    <squerity:csrf disabled="true"/>

</beans>